// Variables
$base-orange: #ffa04e;
$base-pink: #FF93B3;
$base-sage: #146551;

$base-orange-lt: #FFEEDB;
$base-pink-lt: #FFE9EF;
$base-sage-lt: #E1F2ED;

$orange-2: #fffaf5;
$pink-2: #fdbace;
$pink-3: #fbd9e3;

// Animations -- Mixins
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($name, $duration, $function) {
  -webkit-animation-name: $name;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $function;

  -moz-animation-name: $name;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: $function;

  -ms-animation-name: $name;
  -ms-animation-duration: $duration;
  -ms-animation-timing-function: $function;

  -o-animation-name: $name;
  -o-animation-duration: $duration;
  -o-animation-timing-function: $function;

  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $function;
}
// Animations -- Keyframes
// @include keyframes(wiper) {
//   0% {
//     bottom: -50%;
//   }
//   100% {
//     bottom: 100%;
//   }
// }

// Components
.sr-only {
  display: none;
}
h3 {
  font-size: 2rem;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.logo {
  width: 250px;
  max-width: 100%;
  position: relative;
  // z-index: 10;
  scale: 1.5;
  opacity: 0;
  transition: scale 1s, opacity .75s;
  .site--load & {
    opacity: 1;
    scale: 1;
  }
}
button {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  color: $base-orange;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}

// Animations
.animation {
  &--fade-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: opacity .5s, visibility .52s;
    z-index: 12;
    .site--load & {
      transition-delay: .5s;
      opacity: 0;
      visibility: hidden;
    }
  }
}

// Layout
body {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: black;
  margin: 0;
  background-color: $orange-2;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
main {
  position: relative;
}
header {

}


// header {
  // position: relative;
  // height: 100vh;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // display: none;
  // .buttons {
    // &--panels {
    //   position: absolute;
    //   left: 0;
    //   bottom: 0;
    //   width: 100%;
    //   display: flex;
    //   justify-content: center;
      // transition: 0.5s ease transform;
    //   top: 0;
    //   left: 0;
    //   transform: rotate(90deg);
    //   transform-origin: bottom left;
      // &--add {
      //   color: $base-orange;
      // }
    // }
    // &--panel {
    //   background-color: $base-orange;
    //   color: white;
    //   padding: .5rem 1rem 3rem;
    //   transform: translate(0, 2.5rem);
    //   transition: 0.5s ease transform;
    //   margin: 0 .15rem;
    //   &:hover {
    //     transform: translate(0, 2rem);
    //   }
    //   &.open {
    //     transform: translate(0, calc(-100vh + 2rem) );
    //   }
    // }
    // &--vertical {
    //   transform: none;
    //   transition: none;
    //   top: 2rem;
    //   display: flex;
    //   flex-direction: column;
    //   align-items: flex-start;
    //   .buttons--panel {
    //     padding: .5rem 1rem;
    //     margin-bottom: .25rem;
    //     transform: none;
    //     transition: 0.5s ease padding;
    //     &:hover {
    //       transform: none;
    //       padding-left: 1.5rem;
    //     }
    //   }
    // }
  // }
// }
// footer {
//   position: fixed;
//   bottom: 0;
//   background-color: $base-orange;
//   color: white;
//   text-align: center;
//   padding: .5rem;
//   // z-index: 10;
// }

// Sections
section {
  position: relative;
  background: $orange-2;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1rem;
    top: 0;
    left: 0;
    background-color: $base-orange;
  }
}
// Work Sections
.work {
  &--content {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 100%;
    left: 0;
    // right: 100%;
    width: 100vw;
    height: 100vh;
    transition: 0.5s ease top;

    &.open {
      top: 0;
    }
  }
  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    .label {
      margin: 0;
      padding: 2rem 0 1rem;
    }
    .button--close {
      margin-top: 1rem;
      width: 1.5rem;
      height: 1.5rem;
      color: $base-orange;
      background-color: $base-orange;
    }
  }
  &--list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    // overflow-y: scroll;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  &--item {
    position: relative;
    padding-top: 100%;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: calc(100% - 1rem);
      max-height: calc(100% - 1rem);
      border: .5rem solid $base-orange;
      border-radius: .5rem;
    }
  }
}

// Lightbox
.lightbox {
  .lb-data {
    .lb-details {
      margin: .5rem auto;
      float: unset;
      text-align: center;
    }
    .lb-caption {
      font-size: 1rem;
    }
  }
}